---
- name: Gather zfs zvol attributes for {% if zfs_parent_fs is defined %}{{ zfs_parent_fs }}/{% endif %}{{ zvol.name }}
  zfs_facts:
    name: "{% if zfs_parent_fs is defined %}{{ zfs_parent_fs }}/{% endif %}{{ zvol.name }}"
    properties: "volsize,volblocksize"
  failed_when: False
  register: zvol_exists

# this task fails when the zvol already exists and either volsize or volblocksize is already set and has a differing value than the variables dictate. This is done because these attributes cannot be changed after creation
- name: Fail if readonly attributes would be changed on {% if zfs_parent_fs is defined %}{{ zfs_parent_fs }}/{% endif %}{{ zvol.name }}
  fail: 
    msg: "Tried to change readonly zfs attribute on already-existing filesystem {% if zfs_parent_fs is defined %}{{ zfs_parent_fs }}/{% endif %}{{ zvol.name }}\n {{ansible_zfs_datasets[0]}}"
  when: >
    (zvol_exists.msg is not defined) and
    (((zvol.attributes is defined and zvol.attributes.volsize is defined or default is defined and default.volsize is defined) and ansible_zfs_datasets[0].volsize != zvol.attributes.volsize |default(zfs_storage_defaults.volsize) |default(ansible_zfs_datasets[0].volsize)) or
        (((zvol.attributes is defined and zvol.attributes.volblocksize is defined or default is defined and default.volblocksize is defined) and ansible_zfs_datasets[0].volblocksize != zvol.attributes.volblocksize |default(zfs_storage_defaults.volblocksize) |default(ansible_zfs_datasets[0].volblocksize))))

- name: Configure zvol {% if zfs_parent_fs is defined %}{{ zfs_parent_fs }}/{% endif %}{{ zvol.name }}
  zfs:
    name: "{% if zfs_parent_fs is defined %}{{ zfs_parent_fs }}/{% endif %}{{ zvol.name }}"
    state: present

    #these two attributes are only settable when creating the filesystem
    volblocksize: "{% if zvol_exists.msg is defined %}{{ zvol.attributes.volblocksize |default(zfs_storage_defaults.volblocksize) |default(omit) }}{% else %}{{zvol_exists.somethingnotdefined |default(omit)}}{% endif %}"
    volsize: "{% if zvol_exists.msg is defined %}{{ zvol.attributes.volsize |default(zfs_storage_defaults.volsize) |mandatory }}{% else %}{{zvol_exists.somethingnotdefined |default(omit)}}{% endif %}"

    checksum: "{{ zvol.attributes.checksum |default(zfs_storage_defaults.checksum) |default(zfs_base_defaults.checksum) }}"
    compression: "{{ zvol.attributes.compression |default(zfs_storage_defaults.compression) |default(zfs_base_defaults.compression) }}"
    copies: "{{ zvol.attributes.copies |default(zfs_storage_defaults.copies) |default(zfs_base_defaults.copies) }}"
    dedup: "{{ zvol.attributes.dedup |default(zfs_storage_defaults.dedup) |default(zfs_base_defaults.dedup) }}"
    logbias: "{{ zvol.attributes.logbias |default(zfs_storage_defaults.logbias) |default(zfs_base_defaults.logbias) }}"
    primarycache: "{{ zvol.attributes.primarycache |default(zfs_storage_defaults.primarycache) |default(zfs_base_defaults.primarycache) }}"
    snapshot_limit: "{{ zvol.attributes.snapshot_limit |default(zfs_storage_defaults.snapshot_limit) |default(zfs_base_defaults.snapshot_limit) }}"
    readonly: "{{ zvol.attributes.readonly |default(zfs_storage_defaults.readonly) |default(zfs_base_defaults.readonly) }}"
    redundant_metadata: "{{ zvol.attributes.redundant_metadata |default(zfs_storage_defaults.redundant_metadata) |default(zfs_base_defaults.redundant_metadata) }}"
    refreservation: "{{ zvol.attributes.refreservation |default(zfs_storage_defaults.refreservation) |default(zfs_base_defaults.refreservation) }}"
    reservation: "{{ zvol.attributes.reservation |default(zfs_storage_defaults.reservation) |default(zfs_base_defaults.reservation) }}"
    secondarycache: "{{ zvol.attributes.secondarycache |default(zfs_storage_defaults.secondarycache) |default(zfs_base_defaults.secondarycache) }}"
    snapdev: "{{ zvol.attributes.snapdev |default(zfs_storage_defaults.snapdev) |default(zfs_base_defaults.snapdev) }}"
    sync: "{{ zvol.attributes.sync |default(zfs_storage_defaults.sync) |default(zfs_base_defaults.sync) }}"

    "com.sun:auto-snapshot": "{{ zvol.attributes.com_sun_auto_snapshot |default(zfs_storage_defaults.com_sun_auto_snapshot) |default(zfs_base_defaults.com_sun_auto_snapshot) | lower }}"
    "com.sun:auto-snapshot:frequent": "{{ zvol.attributes.com_sun_auto_snapshot_frequent |default(zfs_storage_defaults.com_sun_auto_snapshot_frequent) |default(zfs_base_defaults.com_sun_auto_snapshot_frequent) | lower }}"
    "com.sun:auto-snapshot:hourly": "{{ zvol.attributes.com_sun_auto_snapshot_hourly |default(zfs_storage_defaults.com_sun_auto_snapshot_hourly) |default(zfs_base_defaults.com_sun_auto_snapshot_hourly) | lower }}"
    "com.sun:auto-snapshot:daily": "{{ zvol.attributes.com_sun_auto_snapshot_daily |default(zfs_storage_defaults.com_sun_auto_snapshot_daily) |default(zfs_base_defaults.com_sun_auto_snapshot_daily) | lower }}"
    "com.sun:auto-snapshot:weekly": "{{ zvol.attributes.com_sun_auto_snapshot_weekly |default(zfs_storage_defaults.com_sun_auto_snapshot_weekly) |default(zfs_base_defaults.com_sun_auto_snapshot_weekly) | lower }}"
    "com.sun:auto-snapshot:monthly": "{{ zvol.attributes.com_sun_auto_snapshot_monthly |default(zfs_storage_defaults.com_sun_auto_snapshot_monthly) |default(zfs_base_defaults.com_sun_auto_snapshot_monthly) | lower }}"
